body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    
    display: flex;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,purple);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
h2{
    font-size: 30px;
}

.motivation{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-div{
    
    width: 40%;
    margin-left: 7%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;
    height: 80%;
    border-radius: 5px;
}
.experience{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#exp-one{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#exp-two{
    border-left: 7px solid;
    border-image: linear-gradient(purple,blue,cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}